<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>PHC Doctor</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="../static/images/favicon.png">
    <!-- Custom Stylesheet -->
    <link href="../../static/web/css/style.css" rel="stylesheet">

<script language="javascript">
function validate()
{
	if(document.form1.name.value=="")
	{
	alert("Enter the Name");
	document.form1.name.focus();
	return false;
	}
	
	if(document.form1.mobile.value=="")
	{
	alert("Enter the Mobile No.");
	document.form1.mobile.focus();
	return false;
	}
	if(isNaN(document.form1.mobile.value))
	{
	alert("Invalid Mobile No.");
	document.form1.mobile.select();
	return false;
	}
	if(document.form1.mobile.value.length!=10)
	{
	alert("Mobile No. must be 10 digits!");
	document.form1.mobile.select();
	return false;
	}
	if(document.form1.email.value=="")
	{
	alert("Enter the Email");
	document.form1.email.focus();
	return false;
	}
	if (/^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$/.test(document.form1.email.value))  
	{
	
	}
	else
	{
	alert("Invalid E-mail!");
	document.form1.email.select();
	return false;
	}
	
	if(document.form1.district.value=="")
	{
	alert("Enter the District");
	document.form1.district.focus();
	return false;
	}
	if(document.form1.uname.value=="")
	{
	alert("Enter the Username");
	document.form1.uname.focus();
	return false;
	}
	if(document.form1.pass.value=="")
	{
	alert("Enter the Password");
	document.form1.pass.focus();
	return false;
	}
	
	
return true;
}
</script>

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <!--<div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>-->
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header" style="background-color:#009999">
            <div class="brand-logo">
                <a href="">
				<h2 style="color:#FFFFFF">Admin</h2>
                   <!-- <b class="logo-abbr"><img src="../static/images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="../static/images/logo-compact.png" alt=""></span>
                    <span class="brand-title">
                        <img src="../static/images/logo-text.png" alt="">
                    </span>-->
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">    
            <div class="header-content clearfix">
                
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                   <!-- <div class="input-group icons">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                        </div>
                        <input type="search" class="form-control" placeholder="Search Dashboard" aria-label="Search Dashboard">
                        <div class="drop-down   d-md-none">
							<form action="#">
								<input type="text" class="form-control" placeholder="Search">
							</form>
                        </div>
                    </div>-->
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        
                       
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="../../static/web/images/profile.jpg" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile   dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                       
                                        <li><a href="/logout"><i class="icon-key"></i> <span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    
                   
					<li>
                        <a class="has-arrow" href="/admin" aria-expanded="false">
                            <i class="icon-speedometer menu-icon"></i><span class="nav-text">Dashboard</span>
                        </a>
                        
                    </li>
					
					<li>
                        <a class="" href="/add_doctor" aria-expanded="false">
                            <i class="icon-grid menu-icon"></i><span class="nav-text">Doctor</span>
                        </a>
					</li>	
					<li>
                        <a class="" href="/add_ddhs" aria-expanded="false">
                            <i class="icon-grid menu-icon"></i><span class="nav-text">DDHS</span>
                        </a>
					</li>	
					<li>
                        <a class="" href="/add_hmo" aria-expanded="false">
                            <i class="icon-grid menu-icon"></i><span class="nav-text">HMO</span>
                        </a>
					</li>	
					
					<li>
                        <a class="" href="/logout" aria-expanded="false">
                           <i class="icon-notebook menu-icon"></i><span class="nav-text">Logout</span>
                        </a>
					</li>	
						
                  
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/admin">Dashboard</a></li>
                        
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row justify-content-center">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="form-validation">
								
								  <h3>Add Doctor Details</h3>
		  
		  
		   {% if msg=="success" %}
		 	<span style="color:#009900">Doctor Details Added and Sent to Mail..</span>
			
			
			 <iframe src="http://iotcloud.co.in/testmail/testmail1.php?message={{mess}}&email={{email}}&subject=Doctor Info" width="10" height="10" frameborder="0"></iframe>
			 
			<script>
//Using setTimeout to execute a function after 5 seconds.
setTimeout(function () {
   //Redirect with JavaScript
   window.location.href= '/add_photo?vid={{vid}}';
}, 2000);
</script>
			
		  {% endif %}
								
								<div class="row">
                    <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="active-member">
								
								<form name="form1" method="post" action="">
			  
			  <div class="form-group">
                <input type="text" name="name" class="form-control" placeholder="Name">
              </div>
			  <div class="form-group">
                <select id="gender" name="gender" class="form-control">
            <option value="Male">Male</option>
            <option value="Female">Female</option>
        </select>
              </div>
			  
			  <div class="form-group">
                <input type="text" name="mobile" class="form-control" placeholder="Mobile No." maxlength="10">
              </div>
			  <div class="form-group">
                <input type="text" name="email" class="form-control" placeholder="Email">
              </div>
			 
		
			  <div class="form-group">
                <input type="text" name="district" class="form-control" placeholder="District">
              </div>
			  
			   <div class="form-group">
                <select name="phc_id" class="form-control">
				<option value="">-Select-</option>
            	{% for ps in phos %}
				<option value="{{ps[4]}}">{{ps[4]}}-{{ps[1]}}-{{ps[2]}}</option>
				{% endfor %}
        </select>
              </div>
			  <div class="form-group">
			  	
                <input type="text" name="specialized" class="form-control" placeholder="Specialized in">
              </div>
			  <div class="form-group">
			  	<label>Start Time</label>
					<div class="row">
						<div class="col-md-4">
						<select name="stime" class="form-control">
						<option value="">-Hour-</option>
						<option>6</option>
						<option>7</option>
						<option>8</option>
						<option>9</option>
						<option>10</option>
						<option>11</option>
						<option>12</option>
						<option>13</option>
						<option>14</option>
						<option>15</option>
						<option>16</option>
						<option>17</option>
						<option>18</option>
						</select>
						</div>
						<div class="col-md-4">
						<select name="smin" class="form-control">
						<option value="">-Minute-</option>
						<option>0</option>
						<option>5</option>
						<option>10</option>
						<option>15</option>
						<option>20</option>
						<option>25</option>
						<option>30</option>
						<option>35</option>
						<option>40</option>
						<option>45</option>
						<option>50</option>
						<option>55</option>
						</select>
						</div>
					</div>
              </div>
			  <div class="form-group">
			  	<label>End Time</label>
					<div class="row">
						<div class="col-md-4">
						<select name="etime" class="form-control">
						<option value="">-Select-</option>
						<option>9</option>
						<option>10</option>
						<option>11</option>
						<option>12</option>
						<option>13</option>
						<option>14</option>
						<option>15</option>
						<option>16</option>
						<option>17</option>
						<option>18</option>
						<option>19</option>
						<option>20</option>
						<option>21</option>
						<option>22</option>
						<option>23</option>
						</select>
						</div>
						<div class="col-md-4">
						<select name="emin" class="form-control">
						<option value="">-Minute-</option>
						<option>0</option>
						<option>5</option>
						<option>10</option>
						<option>15</option>
						<option>20</option>
						<option>25</option>
						<option>30</option>
						<option>35</option>
						<option>40</option>
						<option>45</option>
						<option>50</option>
						<option>55</option>
						</select>
						</div>
					</div>
              </div>
			<div class="form-group">
				<label>Doctor ID</label>
                <input type="text" name="uname" class="form-control" placeholder="Doctor ID" value="{{docid}}">
              </div>
			  <div class="form-group">
                <input type="password" name="pass" class="form-control" placeholder="Password">
              </div>
			 <div class="form-group">
                <input type="submit" name="btn" value="Add" class="btn btn-primary py-3 px-5" style="background-color:#009999" onClick="return validate()">
              </div>
			  
			</form>
								
								
                                  
								  
								  
								  
								  
								  
                                </div>
                            </div>
                        </div>                        
                    </div>
					
					 <div class="col-lg-6">
                        <div class="card">
                            <div class="card-body">
                                <div class="active-member">
							{% for rs in data %}
			<table class="table table-striped thead-dark table-bordered table-hover">
			<tr>
			<th colspan="2" style="background-color:#009999">Doctor ID: {{rs[7]}}</th>
			</tr>
			<tr>
			<td>
				{% if rs[9]=="" %}
				<img src="../../static/web/images/profile.jpg" width="120" height="90">
				{% else %}
			<img src="../../static/photo/{{rs[9]}}" width="120" height="90">
				{% endif %}
			</td>
			<td>
				<div class="row">
			<div class="col-md-4">
			Name
			</div>
			<div class="col-md-8">
			: {{rs[1]}}
			</div>
			</div>
			<div class="row">
			<div class="col-md-4">
			Gender
			</div>
			<div class="col-md-8">
			: {{rs[2]}}
			</div>
			</div>
			<div class="row">
			<div class="col-md-4">
			Mobile No.
			</div>
			<div class="col-md-8">
			: {{rs[3]}}
			</div>
			</div>
			
			<div class="row">
			<div class="col-md-4">
			Email
			</div>
			<div class="col-md-8">
			: {{rs[4]}}
			</div>
			</div>
			
			<div class="row">
			<div class="col-md-4">
			District
			</div>
			<div class="col-md-8">
			: {{rs[5]}}
			</div>
			</div>
			<div class="row">
			<div class="col-md-4">
			Specialized in
			</div>
			<div class="col-md-8">
			: {{rs[6]}}
			</div>
			</div>
			
			<div class="row">
			<div class="col-md-4">
			PHC ID
			</div>
			<div class="col-md-8">
			: {{rs[10]}}
			</div>
			</div>
			
			<div class="row">
			<div class="col-md-4">
			Time
			</div>
			<div class="col-md-8">
			: {{rs[11]}}:{{rs[13]}} to {{rs[12]}}:{{rs[14]}}
			</div>
			</div>
		
			
			<div class="row">
			<div class="col-md-12" align="right">
			<a href="/edit_doctor?rid={{rs[0]}}">Edit</a> /
			<a href="/add_photo?vid={{rs[0]}}">Face</a> /
			<a href="/add_doctor?act=del&did={{rs[0]}}">Delete</a>
			</div>
			</div>
			</td>
			</tr>
			
			</table>
			{% endfor %}
					
					 </div>
                            </div>
                        </div>                        
                    </div>
					
                </div>
								
								
								
                                  

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>PHC Doctor <a href="https://themeforest.net/user/quixlab"></a> </p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="../../static/web/plugins/common/common.min.js"></script>
    <script src="../../static/web/js/custom.min.js"></script>
    <script src="../../static/web/js/settings.js"></script>
    <script src="../../static/web/js/gleek.js"></script>
    <script src="../../static/web/js/styleSwitcher.js"></script>

    <script src="../../static/web/plugins/validation/jquery.validate.min.js"></script>
    <script src="../../static/web/plugins/validation/jquery.validate-init.js"></script>

</body>

</html>